#contact{
    min-height: calc(100lvh - 9rem);
    padding: 7rem 12rem 2rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-around;
}

#contact h1{
    position: relative;
    width: fit-content;
    color: var(--secondary);
    font-size: 2em;
}

#contact h1::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 80%;
    height: .2rem;
    background-color: var(--secondary);
    border-radius: 25px;
}

form{
    width: 830px;
    max-width: 100%;
    align-self: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

form input, textarea, button{
    color: var(--text);
    padding: 1.5rem;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 15px;
    outline: none;
}

form input{
    grid-column: span 2;
}

#email-adress{
    grid-column: span 4;
}

textarea{
    grid-column: span 4;
    min-height: 10rem;
    resize: none;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
}

form button{
    padding: 1rem;
    font-size: 1.1em;
    box-shadow: 0px 5px 0px var(--secondary);
    cursor: pointer;
}

form button:active{
    transform: translateY(5px);
    box-shadow: none;
}

@media screen and (max-width: 1020px) {
    #contact{
        padding: 7rem 1rem 2rem 1rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    form button{
        grid-column: span 2;
    }
}