*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}

section{
    min-height: calc(100lvh - 5.8rem);
    padding: 1rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

section h1{
    color: var(--secondary);
    font-size: 4em;
    text-shadow: 0px 0px 5px var(--secondary);
}

#experiences{
    width: 100ch;
    max-width: 100%;
}

#experiences h3{
    padding: .5rem;
    color: var(--primary);
    background-color: var(--secondary);
}

#experiences p{
    color: var(--text);
    font-size: 1.1em;
    padding: .5rem;
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
}

#line{
    width: 100ch;
    max-width: 100%;
    height: .6rem;
    background-color: var(--secondary);
    border-radius: 25px;
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

#line input{
    position: relative;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#experience-1{
    box-shadow: 0px 0px 10px var(--secondary);
}

@media screen and (max-width: 1020px) {
    section{
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    section h1{
        font-size: 3.2em;
    }
}