footer{
    width: calc(100% - 24rem);
    padding: 2rem 12rem;
    background-color: var(--header);
    box-shadow: 0px 0px 2px var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer p{
    color: var(--text);
    opacity: .5;
}

@media screen and (max-width: 1020px) {
    footer{
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    footer p{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 525px) {
    footer p{
        font-size: .75em;
    }
}