header{
    position: fixed;
    top: 1rem;
    left: 11rem;
    width: calc(100% - 24rem);
    height: 3rem;
    padding: .4rem 2rem;
    background-color: var(--header);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

header::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 25px;
    display: flex;
    z-index: 998;
    background-color: var(--header);
}

.logo:nth-child(1){
    display: flex;
    z-index: 999;
}

header nav{
    list-style: none;
    display: flex;
    gap: 2rem;
    z-index: 999;
}

header nav li a, header nav li{
    color: var(--text);
    text-decoration: none;
}

#expandingSpan{
    --scrollAmount: 0%;
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: var(--scrollAmount);
    min-width: 3rem;
    max-width: calc(100% - 1px);
    height: calc(100% - 1px);
    border: 2px solid var(--secondary);
    box-shadow: 0px 0px 10px var(--secondary);
    border-radius: 25px;
    display: flex;
    z-index: 997;
}


#menu-button{
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: url(../ASSETS/icons/menu.png) center/contain no-repeat;
    display: none;
}

#menu-button:checked{
    background: url(../ASSETS/icons/close.png) center/contain no-repeat;
}

#phone-menu{
    position: fixed;
    top: 3.8rem;
    width: 100%;
    height: calc(100% - 3.8rem);
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    background-color: var(--primary);
    transform: translateX(100%);
    transition: .3s ease;
    display: none;
    z-index: 2;
}

#phone-menu nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;  
}

#phone-menu nav li a{
    color: var(--text);
    text-decoration: none;
    font-size: 1.5em;
}

.contact-button{
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 5px;
    padding: .3rem;
}

.logo{
    height: 100%;
    color: var(--text);
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1020px) {
    header{
        width: calc(100% - 8rem);
        left: 2rem;
    }

    header nav{
        display: none;
    }

    #menu-button{
        display: flex;
    }

    #phone-menu{
        display: flex;
    }
}