#home{
    position: relative;
    min-height: calc(100lvh - 7.8rem);
    padding: 5.8rem 12rem 2rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main-info h1{
    font-size: 4em;
    line-height: 6.5rem;
    color: var(--secondary);
    text-shadow: 0px 0px 5px var(--secondary);
    white-space: nowrap;
}

#home img{
    width: 26.5rem;
    opacity: .6;
    border-radius: 50%;
}

#office-role{
    position: relative;
    max-width: max-content;
    color: var(--text);
    font-size: 3.5em;
    white-space: nowrap;
    margin-top: 1.5rem;
    margin-left: .3rem;
}

#office-role::before{
    content: '';
    animation: infoSpan 20s infinite;
}

@keyframes infoSpan {
    0%,100%{
        content: "Full-stack developer";
    }
}

#office-role::after{
    content: '';
    position: absolute;
    right: -.4rem;
    width: calc(100% + .4rem);
    height: 100%;
    background-color: var(--primary);
    border-left: 2px solid var(--secondary);
    animation: cursor .8s infinite, write 20s steps(15) infinite;
}

@keyframes write {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + .4rem);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--primary);
    }
}

#projects-button{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#projects-button a{
    color: var(--text);
    font-size: 1.1em;
    text-decoration: none;
    border: 2px solid var(--secondary);
    border-radius: 15px;
    box-shadow: 0px 5px 1px var(--secondary);
    padding: 1rem 4rem;
}

#projects-button a:active{
    transform: translateY(5px);
    box-shadow: none;
}

#medias{
    position: absolute;
    top: calc(50% - 1.7rem);
    left: 0;
    padding: 1rem 1rem;
    background-color: var(--header);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
    justify-content: center;
}

#medias a{
    width: 2.65rem;
    height: 2.65rem;
    transition: .3s ease;
}

#medias a:hover{
    transform: scale(1.1);
}

#linkedin{
    background: url(../ASSETS/icons/linkedin.png) center/contain no-repeat;
}

#github{
    background: url(../ASSETS/icons/github.png) center/contain no-repeat;
}

@media screen and (max-width: 990px) {
    #home{
        min-height: calc(100lvh - 7.8rem);
        padding: 5.8rem 1rem 2rem 1rem;
    }
}

@media screen and (max-width: 650px) {
    #home{
        min-height: calc(100lvh - 9rem);
        padding: 8rem 1rem 2rem 1rem;
        flex-direction: column;
        justify-content: start;
    }

    #avatar{
        width: 16.5rem;
    }

    #main-info{
        text-align: center;
        align-items: center;
    }

    #main-info h1{
        font-size: 2.5em;
    }

    #medias{
        opacity: .8;
    }
}

@media screen and (max-width: 430px) {
    .logo:nth-child(1) h2{
        display: none;
    }
}