*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}

section{
    min-height: calc(100lvh - 5.8rem);
    padding: 1rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section h1{
    color: var(--secondary);
    font-size: 4em;
    text-shadow: 0px 0px 5px var(--secondary);
}

#projects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.projects img{
    width: 25rem;
    height: 15rem;
    border-radius: 25px;
}

.project-description{
    position: relative;
    width: 50ch;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-description:after{
    content:'';
    position: absolute;
    left: -2.5rem;
    width: .3rem;
    height: 100%;
    background-color: var(--secondary);
    border-radius: 25px;
}

.project-description h2{
    color: var(--secondary);
    font-size: 2em;
}

.project-description p{
    color: var(--text);
    font-size: 1.2em;
}

.project-description span{
    color: var(--text);
}

.project-description a{
    width: 3rem;
    height: 3rem;
    background: url(../ASSETS/icons/github.png) center/contain no-repeat;
}

@media screen and (max-width: 1310px) {
    section{
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .projects{
        display: flex;
        flex-direction: column;
    }

    .project-description:after{
        content:'';
        position: absolute;
        left: 0;
        top: -2.5rem;
        width: 100%;
        height: .3rem;
        background-color: var(--secondary);
        border-radius: 25px;
    }
}

@media screen and (max-width: 490px) {
    .project-description{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .projects img{
        width: 100%;
    }
}